*{
    margin:0;
    padding:0;
}

html{
    width:100%;
    height:100%;
}


body{
    display:flex;
    width:100%;
    height:100%;
    color:black;
}

.barralateral{
    background-color: #592E83;
    width:7rem ;
    height:100%;
}

.lista{
    display:flex;
    flex-direction:column;
    width:100%;
    height:30%;
    justify-content: space-around;
    align-items: center;
    color:white;
}

.contenido{
    background-color: #CAA8F5;
    flex-grow:1;
}


@media (max-width: 640px) {

    body{
        flex-direction: column-reverse;
    }

    .barralateral{
        height: 5rem;
        width:100%;

    }
    .lista{
        flex-direction: row;
        height:100%;
        align-items: center;
    }

    .contenido{
        flex-grow: 1;
    }
    
}



